@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700|Roboto+Mono');

$family-sans-serif: "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI",
                    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
                    "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
                    sans-serif;
$family-monospace: "Roboto Mono", monospace;
$blue: #3949AB;
$cyan: #448AFF;
$purple: #AA00FF;
$red: #E53935;
$turquoise: #00BFA5;
$orange: #FF3D00;
$yellow: #FFE57F;
$primary: $blue;
$link: $turquoise;
$info: $cyan;
$link-hover: darken($turquoise, 15%);

@import "../bulma/bulma.sass";

.card-header.is-high {
    min-height: 7rem;
    & > h1 {
        align-items: flex-end;
        margin-bottom: 0;
    }
    & > .card-header-icon {
        align-items: flex-start;
    }
}

.hero.has-shadow {
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.3),0 0 0 1px rgba(10,10,10,.6);
}

span.icon {
    margin-right: 0.25em;
}

.twitter-tweet {
    margin: auto;
}

.has-text-shadow {
    text-shadow: 0 2px 2px #000;
}
