a {
	text-decoration: none;
    font-weight: 600;
}

.mdl-grid {
	max-width: 1200px;
}

.mdl-navigation a.mdl-navigation__link {
	color: #ddd;
    font: 1.1em Roboto, Helvetica, Arial, sans-serif;
}

.mdl-navigation a.mdl-navigation__link:hover {
	color: #fff;
}

.card > .mdl-card__title {
	color: #fff;
	height: 120px;
}

.image-card > .mdl-card__title {
	color: #fff;
	height: 120px;
	background: url('../media/board.jpg') center / cover;
}

.image-card i.material-icons {
    color: #fff;
}

.mdl-card h1 {
    font-size: 1.5em;
    line-height: normal;
    margin: 0.25em 0;
}

.mdl-card h2 {
    font-size: 1.3em;
    margin: 0;
    line-height: normal;
    margin: 0.25em 0;
}

.mdl-card h3 {
    font-size: 1.1em;
    font-weight: 500;
    line-height: normal;
    margin: 0.25em 0;
}

.mdl-card__actions {
    margin-top: auto;
}

.mdl-button--primary img {
	margin: auto 0.5em auto 0;
}

.mdl-mini-footer {
    padding: 1em;
}

.mdl-mini-footer a {
    font-weight: bold;
    color: #ddd;
}

.mdl-mini-footer a:hover {
    color: #fff;
}

#back {
	margin: 5px;
}

#vis .node {
  stroke: #fff;
  stroke-width: 2px;
}

#vis .node.fixed {
  stroke: #000;
}

#vis .node text {
  stroke: none;
  fill: black;
  pointer-events: none;
  font: 10px sans-serif;
}

#vis .link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 2;
}

#vis {
	margin: 0 auto -30px auto;
	padding: 0;
	max-width: 700px;
}

table {
    margin-left: auto; 
    margin-right: auto;
}
