html > body{
    font-family:'Roboto' ,'Arial', sans-serif!important
}

a {
	text-decoration: none;
    font-weight: bold;
}

.mdl-grid {
	max-width: 1200px;
}

.mdl-navigation a.mdl-navigation__link {
	color: #ddd;
    font: 1.1rem Roboto, Helvetica, Arial, sans-serif;
}

.mdl-navigation a.mdl-navigation__link:hover {
	color: #fff;
}

.card .mdl-card__supporting-text {
    padding: 1rem;
    width: auto;
    text-align: justify;
}

.card .mdl-card__title {
	color: #fff;
	height: 120px;
}

.image-card {
	background: url('../media/board.jpg') center / cover;
}

.image-card i.material-icons {
    color: #fff;
}

.mdl-card h1 {
    font-size: 1.5em;
    line-height: normal;
    margin: 0.25em 0;
}

.mdl-card h2 {
    font-size: 1.3em;
    margin: 0;
    line-height: normal;
    margin: 0.25em 0;
}

.mdl-card h3 {
    font-size: 1.1em;
    font-weight: 500;
    line-height: normal;
    margin: 0.25em 0;
}

.mdl-card__actions {
    margin-top: auto;
}

.mdl-button--primary img {
	margin: auto 0.5em auto 0;
}

.mdl-mini-footer {
    padding: 1em;
}

.mdl-mini-footer a {
    font-weight: bold;
    color: #ddd;
}

.mdl-mini-footer a:hover {
    color: #fff;
}

#back {
	margin: 5px;
}

#vis .node {
  stroke: #fff;
  stroke-width: 2px;
}

#vis .node.fixed {
  stroke: #000;
}

#vis .node text {
  stroke: none;
  fill: black;
  pointer-events: none;
  font: 12px Roboto;
}

#vis .link {
  fill: none;
  stroke: #999;
  stroke-opacity: .4;
  stroke-width: 2;
}

#vis {
	margin: 0 auto;
	padding: 0;
	max-width: 700px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    margin: 8px;
    padding: 1px 1em;
}

.spaced {
    display: flex;
    justify-content: space-between;
}
