{{ partial "header_no_menu.html" . }}
<div class="card mdl-card mdl-shadow--4dp mdl-cell
		mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
<div class="mdl-card__title mdl-color--primary" {{ if .Params.hero }}style="background: url('/media/{{.Params.hero}}') center / cover"{{end}}>
	<h1 class="mdl-card__title-text">{{ .Title }}</h1>
	</div>
	<div class="mdl-card__supporting-text">
	{{ .Content }}
	</div>
	<div class="mdl-card__actions mdl-card--border">
    <h3>Appendix</h3>
	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
        href="{{.RelPermalink}}">Read more...</a>
    </div>
</div>
{{ partial "footer.html" . }}
