{{ partial "header.html" . }}
{{ range where .Data.Pages "Section" "front" }}
<div class="image-card mdl-card mdl-shadow--4dp mdl-cell
		mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
<div class="mdl-card__title">
	<h1 class="mdl-card__title-text">{{ .Title }}</h1>
	</div>
	<div class="mdl-card__supporting-text">
	{{ .Content }}
	</div>
    {{ if eq .Weight 1 }}<div class="mdl-card__menu">
	<a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="http://orcid.org/0000-0002-7476-0868 " target="_blank">
    <img src="/media/orcid.png" height="65%"/></a>
    <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="http://github.com/cdiener" target="_blank">
    <img src="/media/github_white.svg" height="80%"/></a>
    <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="http://twitter.com/@thaasophobia" target="_blank">
    <img src="/media/twitter.svg" height="80%"/></a>
    </div>{{end}}
</div>
{{end}}
{{ range $i, $e := first 1 (where .Data.Pages "Section" "pubs") }}
<div class="image-card mdl-card mdl-shadow--4dp mdl-cell
		mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
<div class="mdl-card__title" {{ if $e.Params.hero }}style="background: url('/media/{{$e.Params.hero}}') center / cover"{{end}}>
	<h1 class="mdl-card__title-text">My latest publication</h1>
	</div>
	<div class="mdl-card__supporting-text">
    <h2>{{ $e.Title }}</h2>
	{{ $e.Content }}
	</div>
	<div class="mdl-card__actions mdl-card--border">
	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
        href="http://ncbi.nlm.nih.gov/pubmed/{{$e.Params.pubmed}}" target="_blank">Pubmed</a>
	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
        href="http://dx.doi.org/{{$e.Params.doi}}" target="_blank">DOI</a>
    </div>
</div>
{{end}}
{{ range first 1 (where .Data.Pages "Section" "posts") }}
<div class="image-card mdl-card mdl-shadow--4dp mdl-cell
		mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
<div class="mdl-card__title" {{ if .Params.hero }}style="background: url('/media/{{.Params.hero}}') center / cover"{{end}}>
	<h1 class="mdl-card__title-text">Latest post</h1>
	</div>
	<div class="mdl-card__supporting-text">
    <h2>{{ .Title }}</h2>
	<p>{{ .Summary }}</p>
	</div>
	<div class="mdl-card__actions mdl-card--border">
	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{.RelPermalink}}">Read more...</a>
	</div>
</div>
{{end}}
{{ partial "footer.html" . }}
