{{ partial "header.html" . }}
<div class="hero-body">
	<div class="container animated fadeIn">
		<h1 class="title has-text-weight-light is-spaced has-text-shadow">
			{{ .Title }}
		</h1>
		<div class="level">
			<h2 class="level-start subtitle">
				<span class="icon"><i class="far fa-calendar"></i></span>{{.Date.Format "January 2, 2006"}}
			</h2>
			<div class="level-item tags">
				{{ range .Keywords }}
				<span class="tag is-white">{{ . }}</span>
				{{ end }}
			</div>
		</div>
	</div>
	</section>
	<section class="section animated fadeIn slow">
		<article class="container" style="max-width: 960px">
			<div class="content">
				{{ .Content }}
			</div>
			<div class="buttons">
				{{ if .Params.pubmed }}
				<a class="button is-info is-outlined" href="http://ncbi.nlm.nih.gov/pubmed/{{.Params.pubmed}}"
					target="_blank">
					<span class="icon"><i class="fas fa-book"></i></span><span>Pubmed</span>
				</a>
				{{ end }}
				{{ if .Params.doi }}
				<a class="button is-info is-outlined" href="http://dx.doi.org/{{.Params.doi}}" target="_blank">
					<span class="icon"><i class="fas fa-link"></i></span><span>Fulltext</span>
				</a>
				{{ end }}
			</div>
		</article>
	</section>
	{{ partial "footer.html" . }}
