{{ partial "cv_header.html" . }}
<section class="mdl-layout__tab-panel is-active" id="basics">
<div class="page-content mdl-grid">
<section class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
<div class="basic-info">
{{ with .Site.Data.cv }}<img class="face" src="/media/{{.basics.picture}}" />
<div class="address">
    <h1><span class="mdl-color-text--indigo-200">{{.basics.first}}</span>
        <span class="mdl-color-text--indigo-900">{{.basics.last}}</span></h1>
    <p>{{.basics.location.address}}<br/>
       {{.basics.location.city}}, {{.basics.location.postalcode}}<br/>
       {{.basics.location.country}}</p>
</div></div>
</section>
<div class="card mdl-card mdl-shadow--4dp" style="margin: 3em 0;">
<div class="mdl-card__title mdl-color--primary">
    <h1 class="mdl-card__title-text">Skills</h1></div>
    <div class="mdl-card__supporting-text">
        <div id="vis"></div>
        <p>Click on a node to open/collapse...</p>
    </div>
</div>
<div class="card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__supporting-text" style="height:2em">
        <p>For a list of publications see the <a href="/pubs">Pubs section</a>.</p>
    </div>
</div>
</div></section>
<section class="mdl-layout__tab-panel" id="education"> <div class="page-content mdl-grid">
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-color--indigo-900" style="height:auto">
    <div class="mdl-card__title-text">Education</div>
</div></div>
{{ range .education }}<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__supporting-text">
    <h2 class="mdl-color-text--primary">{{.institution}}</h2>
    <h3 class="mdl-color-text--gray">{{.begin}} - {{.end}}</h3>
    <h3>{{.title}} in {{.area}}</h3>
</div></div>{{end}}
</div></section>
<section class="mdl-layout__tab-panel" id="career"> <div class="page-content mdl-grid">
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-color--indigo-900" style="height:auto">
    <div class="mdl-card__title-text">Career</div>
</div></div>
{{ range .work }}<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__supporting-text">
    <h2 class="mdl-color-text--primary">{{.company}}</h2>
    <h3 class="mdl-color-text--gray">{{.begin}} - {{.end}}</h3>
    <h3>{{.position}}</h3>
    <p>{{.summary}}</p>
    {{if .highlights}}
    <h2>Highlights</h2>
    <ul>{{ range .highlights }}<li>{{.}}</li>{{end}}</ul>{{end}}
</div>
{{ if .website }}<div class="mdl-card__actions mdl-card--border">
<a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{{.website}}" target="_blank">
<i class="material-icons">home</i></a>
</div>{{end}}
</div>{{end}}
</div></section>
<section class="mdl-layout__tab-panel" id="other">
<div class="page-content mdl-grid">
{{if .interests}}
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-color--primary">
    <h1 class="mdl-card__title-text">Interests</h1></div>
    <div class="mdl-card__supporting-text">
    {{range .interests}}{{if .name}}<h2 class="mdl-color-text--primary">{{.name}}</h2>{{end}}
    {{range .keywords}}
    <h3 class="mdl-color-test--gray">{{.}}</h3>
    {{end}}{{end}}
    </div>
</div>{{end}}
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-color--primary">
    <h1 class="mdl-card__title-text">Awards &amp; Scholarships</h1></div>
    <div class="mdl-card__supporting-text">
    {{range .awards}}<h2 class="mdl-color-text--primary">{{.title}}</h2>
    <h3 class="mdl-color-text--gray">{{.date}}</h3>
    <span class="mdl-color-text--gary">at {{.institution}}</span>
    <p>{{.summary}}</p>
    <br>{{end}}
    </div>
</div>
{{if .languages}}<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-color--primary">
    <h1 class="mdl-card__title-text">Languages</h1></div>
    <div class="mdl-card__supporting-text">
    <ul>
    {{range .languages}}
    <li><span class="mdl-color-text--primary" style="font-weight: 500">{{.language}}</span> - {{.fluency}}</li>
    {{end}}</ul>
    </div>
</div>{{end}}
</div></section>{{end}}
<script src="/js/d3.min.js" charset="utf-8"></script>
<script src="/js/tree.min.js"></script>
{{ partial "cv_footer.html" . }}
