{{ partial "header.html" . }}
<div class="hero-body">
	<div class="container">
	<h1 class="title">
		Publications
	</h1>
	<h2 class="subtitle">
		My publications summarized. What did I do and why.
	</h2>
	</div>
</section>
<section class="section">
<div class="container">
<div class="columns is-tablet is-multiline">
{{ range $i, $e := .Data.Pages }}
<div class="column is-4-widescreen is-6-tablet">
<div class="card has-shadow animate__animated animate__zoomIn animate__fast">
<header class="card-header is-high" style="background: url('/media/{{$e.Params.hero | default "default.jpg"}}') center / cover">
</header>
<div class="card-content">
	<h1 class="title is-5 has-text-info has-text-weight-normal">{{ $e.Title }}</h1>
    <p class="level subtitle is-6 has-text-grey is-mobile">
    <span class="level-start"><span class="icon"><i class="far fa-calendar"></i></span>{{$e.Date.Format "2006-01-02"}}</span>
    <span class="level-end"><span class="icon"><i class="far fa-clock"></i></span>{{$e.ReadingTime}}m read</span></p>
	<p class="content">{{ $e.Summary }}</p>

	<div class="content buttons">
		<a class="button is-primary is-outlined" href="{{.RelPermalink}}">Read more...</a>
		<a class="button is-primary is-outlined" href="http://dx.doi.org/{{$e.Params.doi}}" target="_blank">
			<span class="icon"><i class="fas fa-link"></i></span><span>Fulltext</span>
		</a>
	</div>
</div></div></div>
{{end}}
</div></div></section>
{{ partial "footer.html" . }}

